.mainContainer {
  padding:2.5% 5%;
}
.title{
  padding-bottom:25px;
  font-size:30px;
  text-align:left;
}
.tableHeader{
  padding-top:25px !important;
  border-bottom:2px solid #9c9c9c;
}
tbody > tr:nth-child(odd) {
  background-color:#f6f6f6;
}
.averageGrade{
  float:right;
  padding:0px 0px;
  font-size:25px;
  text-align:right;
}
.input-group{
  width:100%;
  margin-bottom:15px !important;
  border-radius:5px;
  border-style:none;
}
.iconAndBackground{
  color:#4c4c4c;
  background-color: #E9ECEF;
  border-radius:3px 0px 0px 3px;
  display:flex;
  border-left:1px solid #ccd0d4;
  border-top:1px solid #ccd0d4;
  border-bottom:1px solid #ccd0d4;
  border-right:none;
  justify-content:center;
  align-items:center;
  padding:0px 10px;
}
#cancelButton{
  margin-left:5px;
}
.fa-graduation-cap{
  width:16px;
}
.fa-user{
  width:17px;
}



@media only screen
  and (max-device-width: 900px)
   {
    .title{
      font-size:30px;
      padding-top:20px;
      padding-bottom:5px;
      text-align:center;
    }
    .averageGrade{
      font-size:20px;
      padding-top:0px;
      padding-bottom:5px;
      text-align:center;
      float:none;

    }
}
