.mainContainer {
  padding:2.5% 5%;
}
.title{
  padding:25px 0px;
}
.tableHeader{
  padding-top:25px !important;
  border-bottom:2px solid #9c9c9c;
}
tbody > tr:nth-child(odd) {
  background-color:#f6f6f6;
}
.averageGrade{
  float:right;
  padding:25px 0px;
}
.input-group{
  width:100%;
  margin-bottom:15px !important;
  border-radius:5px;
  border-style:none;
}
.iconAndBackground{
  color:#4c4c4c;
  background-color: #E9ECEF;
  border-radius:3px 0px 0px 3px;
  display:flex;
  border-left:1px solid #ccd0d4;
  border-top:1px solid #ccd0d4;
  border-bottom:1px solid #ccd0d4;
  border-right:none;
  justify-content:center;
  align-items:center;
  padding:0px 10px;
}
#cancelButton{
  margin-left:5px;
}
.fa-graduation-cap{
  width:16px;
}
.fa-user{
  width:17px;
}
