.mainContainer {
  padding:2.5% 5%;
}
.title{
  padding:25px 0px;
}
.tableHeader{
  padding-top:25px !important;
  border-bottom:2px solid #9c9c9c;
}
tbody > tr:nth-child(odd) {
  background-color:#f6f6f6;
}
.averageGrade{
  float:right;
  padding:25px 0px;
}
input{
  width:100%;
  margin-bottom:15px !important;
  border-radius:5px;
  border: 1px solid #dee2e6;
  height:35px;
}
